# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
.vs
*tlog
*.log
*.pdb
*ilk
*idb
/OpenGL/Debug/OpenGL.tlog/CL.command.1.tlog
/OpenGL/Debug/vc143.pdb
/OpenGL/Debug/vc143.idb
/OpenGL/Debug/OpenGL.tlog/unsuccessfulbuild
/OpenGL/Debug/OpenGL.tlog/OpenGL.lastbuildstate
/OpenGL/Debug/OpenGL.tlog/link.write.1.tlog
/OpenGL/Debug/OpenGL.tlog/link.read.1.tlog
/OpenGL/Debug/OpenGL.tlog/link.command.1.tlog
/OpenGL/Debug/OpenGL.log
/OpenGL/Debug/OpenGL.ilk
/OpenGL/Debug/OpenGL.exe.recipe
